<div class="parent-control">
    <div class="col-xs-12 pad-left-right-0 parent-control-holder" ng-if="!fullview">
        <div class="col-xs-4">
            <span  class="col-xs-12 pad-left-right-0"></span>
            <input class="col-xs-12 pad-left-right-0" type="text" name="" >
        </div>
        <div class="col-xs-offset-1 col-xs-5 pad-left-right-0" style="">
            <span  class="col-xs-12 pad-left-right-0"></span>
            <input class="col-xs-12 pad-left-right-0" type="text" name="">
        </div>
        <div class="col-xs-2">
            <button class="btn btn-primary pull-right search-btn">SEARCH</button>
        </div>
    </div>
    <div class="col-xs-12 pad-left-right-0 parent-control-holder" ng-if="fullview">
        <div class="col-xs-4">
            <span  class="col-xs-12 pad-left-right-0"></span>
            <input class="col-xs-12 pad-left-right-0" type="text" name="">
        </div>
        <div class="col-xs-4">
            <span  class="col-xs-12 pad-left-right-0"></span>
            <input class="col-xs-12 pad-left-right-0" type="text" name="">
        </div>
        <div class="col-xs-4">
            <span  class="col-xs-12 pad-left-right-0"></span>
            <input class="col-xs-8 pad-left-right-0" type="text" name="">
            <button class="col-xs-4 btn btn-primary go-btn">GO</button>
        </div>
    </div>
</div>