<!-- Loader to display when some server interaction is taking place -->
<div id="cover" ng-show="displaySpinner">
  <div class="spinner"></div>
</div>
<div class="girdContainer login-container col-sm-12 pad-left-right-0">
	<div class="col-xs-5 col-sm-5 pad-left-right-0 login-form"> 
		<div class="col-xs-6 col-sm-6 pad-left-right-0 login-form-mobile">
		  	<div class="field">
		  		<h5>Enter email/mobile</h5>
		  		<input class="col-xs-12 pad-left-right-0" type="text" name="">
		  	</div>
		  	<div class="field">
		  		<h5>Enter password</h5>
		  		<input class="col-xs-12 pad-left-right-0" type="text" name="">
		  	</div>
		  	<div class="field">
				<button class="btn btn-primary" ng-click="loginWithOpenID()">Login</button>
				<a href="#">Forget password?</a>
		  	</div>
		</div>
		<div class="col-xs-6 col-sm-6 pad-left-right-0 login-form-social">
		  	<div class="login-gmail">
		  		<button class="btn btn-danger" ng-click="loginWithOpenID()">Login with Gmail</button>
		  	</div>
		  	<div class="login-facebook">
				<button class="btn btn-primary" ng-click="loginWithOpenID()">Login with Facebook</button>
		  	</div>
		</div>
	</div>
</div>
