<!-- Loader to display when some server interaction is taking place -->
<div id="cover" ng-show="displaySpinner">
  <div class="spinner"></div>
</div>
<div class="col-xs-12 pad-left-right-0 new-ad">
    <div class="content-holder">
        <div class="col-xs-12 pad-left-right-0 heading">
            <h4>Submit your new ad here</h4>
        </div>
        <div class="col-xs-12 pad-left-right-0 form-container">
            <form>
                <div class="col-xs-7 pad-left-right-0 height-100 left-form">
                    <div class="col-xs-12 pad-left-right-0">
                        <div class="col-xs-12 pad-left-right-0 left-form-wrapper">
                            <div class="col-xs-12 pad-left-right-0 form-row">
                                <h4>Ad Title</h4>
                                <input class="col-xs-11 pad-left-right-0" type="text" name="adv-title">
                            </div>
                            <div class="col-xs-12 pad-left-right-0 form-row">
                                <h4>Select Category</h4>
                                <input type="text" name="adv-title">
                            </div>
                            <div class="col-xs-12 pad-left-right-0 form-row" >
                                <h4>Enter detail description about ad</h4>
                                <textarea class="description-text"></textarea>
                            </div>
                            <div class="col-xs-12 pad-left-right-0 form-row" >
                                <h4>Upload photos here</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5  pad-left-right-0 height-100 right-form">
                    <div class="col-xs-12 pad-left-right-0 form-row" >
                        <h4>Name</h4>
                        <input class="col-xs-11 pad-left-right-0" type="text" name="adv-title">
                    </div>
                    <div class="col-xs-12 pad-left-right-0 form-row" >
                        <h4>Mobile Number</h4>
                        <input class="col-xs-11 pad-left-right-0" type="text" name="adv-title">
                    </div>
                    <div class="col-xs-12 pad-left-right-0 form-row" >
                        <h4>Enter a City</h4>
                        <input class="col-xs-11 pad-left-right-0" 
                         vs-google-autocomplete="options_cities"
                         ng-model="city" 
                         type="text" 
                         name="city"
                         id="city"
                         class="form-control" 
                         placeholder="Enter city name"
                         type="text">
                    </div>
                    <div class="col-xs-12 pad-left-right-0 form-row" >
                        <h4>Enter a Locality (nearby you)</h4>
                        <input class="col-xs-11 pad-left-right-0" type="text" 
                        vs-google-autocomplete="options_nearby" placeholder="Enter your nearby area" ng-model="address" name="address">
                    </div>
                    <div class="col-xs-12 pad-left-right-0 form-row" >
                        <button class="btn btn-warning post-ad-btn pull-right" ng-click="submitNewAdv()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>