.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Source Sans Pro',sans-serif,Calibri,helvetica,Cantarell,arial,tahoma,verdana;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Small devices (tablets, 768px and up) */

/*UI select custom css*/
.ui-select-container input {
  width: 100% !important;
} 

.ui-select-container {
  width: 100% !important;
} 
.global-search {
  margin-top: 5px;
}
.search input {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  width: 300px;
}

.btn:focus {
  outline: none;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}
.pad-left-right-0 {
  padding-left: 0px;
  padding-right: 0px;
}
/*UI grid custom css*/
.grid {
  height: 630px;
}

.ui-grid-viewport .ui-grid-cell-contents {
  word-wrap: break-word;
  white-space: normal !important;
}

.ui-grid-row, .ui-grid-cell {
  height: auto !important;
}

.ui-grid-row div[role=row] {
  display: flex ;
  align-content: stretch;
}
/*Display viewport full height so grid can take maximum space*/
.ui-grid-viewport  {
  height: 600px !important;
  overflow: auto !important;

}
.ui-grid-contents-wrapper {
  height: 600px !important;

}

/*UI grid custom css*/
.ui-grid-column-menu-button {
  display: none;
}

.ui-grid-canvas {
  width:100%;
}


/*Input styling throughout the application*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
  /*border-bottom-color: #b3b3b3 !important;*/
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  /*border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-left-color: #b3b3b3 !important;
  border-left-style: solid !important;
  border-left-width: 1px !important;
  border-right-color: #b3b3b3 !important;
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-top-color: #b3b3b3 !important;*/
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  /*border-top-style: solid !important;
  border-top-width: 1px !important;*/
}

.view-container {
  margin: 50px 0 auto;
}

#cover {
  position:fixed; 
  top:0; 
  left:0; 
  background:rgba(0,0,0,0.6); 
  z-index:5; 
  width:100%; 
  height:100%;
}
 
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  animation: spinner .8s ease infinite;
}

.login-container {
  margin: 1%;
}

.footer-container {
    background: #fff;
    border-top: 4px solid #eee;
}

.footer-container-image {
    left: 0;
    right: 0;
    height: 206px;
    background: url(../images/bottom-marketing-bg-image.png) no-repeat 50% 30px;
    content: '';
}

.wrapper {
    text-align: left;
    margin: 0 auto;
    margin-top: 20px !important;
    width: 876px;
    font-size: 14px;
}

.icon.mobile-homepage {
    width: 837px;
    height: 170px;
    background-image: url(../images/bottom-mobileapps-link-image.png);
    margin: 30px auto 0;
}

.icon {
    background: url() no-repeat;
}
.block {
    display: block;
}
.rel {
    position: relative;
}
.icon {
    text-indent: -1000em;
    overflow: hidden;
    display: inline-block;
}

.height-100 {
  height: 100% !important;
}

.parent-control {
  width: 100%;
  height: 65px;
  background-color: #F0AD4E;
  border-radius: 5px;
  border: 2px solid #ccc;
}

.parent-control-holder {
  margin-top: 10px;
}

.parent-control-holder input {
  height: 40px; width: 100%; font-size: 18px;
}

.parent-control-holder .search-btn{
  margin: 5px 0 auto;
}

.parent-control-holder .go-btn{
  margin: 3px 0 auto;
}


.main-holder {
  min-height: 600px; 
  height: 100%;
}

.main-holder .add-hor {
  min-height: 150px; border: 1px solid black; text-align: center;
}

.border-right {
    border-right: 1px solid #ccc;
}
.content-holder {
  width: 900px;
  margin: 0 auto;
}
.main-holder .category-wrapper{
  min-height: 550px;
}

.category-wrapper .category-holder {
  margin: 40px 40px 0px 40px;
}

.category-holder .category{
  min-height: 100px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; float: left;
}
.category-holder .category:nth-child(3n){border-right: none;}

.category-right {}

.category-right-ad-big {min-height: 400px; border: 1px solid #000000;}
.category-right-ad-small {min-height: 150px; border: 1px solid #000000}

.secondary-footer {
  width: 900px; margin: 10px auto; text-align: center;
}